<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="left-side">
    <div class="left-side-menu">

        <div class="slimscroll-menu">

            <!--- Sidemenu -->
            <div id="sidebar-menu">

                <ul class="metismenu" id="side-menu">

                    <li>
                        <a href="/user">
                            <i class="fas fa-dog"></i>
                            <span> Users </span>
                        </a>
                    </li>
                    <li>
                        <a href="/products">
                            <i class="fas fa-laptop"></i>
                            <span> Products </span>
                        </a>
                    </li>

                    <li>
                        <a href="/orders">
                            <i class="fas fa-phone"></i>
                            <span> Order </span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->
</th:block>