<div class="form-container sign-up-container">
    <form>
        <h1>Register Account</h1>
        <input type="email" placeholder="Email" id="emailReg"/>
        <input type="password" placeholder="Password" id="passwordReg"/>
        <input type="text" placeholder="Phone" id="phone"/>
        <input type="text" placeholder="Address" id="address"/>
        <select  id="role" class="form-control">
            <option value="1">ADMIN</option>
            <option value="2">USER</option>
        </select>
        <br>
        <br>
        <br>
        <button id="btnRegister">Register</button>
    </form>
</div>